// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/************
RESETS
************/
/*
html {
    box-sizing: border-box;
    color: #444;
    font: 12pt 'Open Sans', Arial;
    font-weight: 400;
}

*, *::before, *::after {
    box-sizing: inherit;
    color: inherit;
    font: inherit;
}
*/


body {
	margin: 0;
	padding: 0;
	background-color: pink;
}

navbar {
	width: 100%;
	/*position: absolute;*/
  	top: -16px;
}

navbar ul {
    display: flex;
    /* justify-content: space-between; */
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: red;
}

navbar ul li {
	list-style: none;	
	flex: 1;
}

.nav-selected {
	border-bottom: solid yellow 5px;
}

a {
	text-decoration: none;
}

.navtab {
    flex: 1;
    height: 4em;
    padding-top: 1em;
    margin: 0;
}

/*******
LOGIN SCREEN CSS
****/
.login-container-content {
  position: relative;
  width: 25em;
  height: 25em;
  /*overflow: hidden;*/
}

.login-container {
    overflow: hidden;
  width: 25em;
    background: rgba(206, 206, 206, 0.80);
    height: 25em;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    vertical-align: baseline;
    transform: translate(-50%, -50%);
}

.register-login {
  /*overflow: hidden;*/
}

.register {
  /*overflow: hidden;*/
    position: absolute;
    left: 3em;
    top: 0em;
    border-bottom: solid black;
    width: 9.5em;
    height: 4.4em;
    text-align: center;
    border-right: solid black;
}

.register:hover {
  background-color: red;
    /*overflow: hidden;*/
}

.register > a {
    margin: 2.7em 0 0 1em;
    display: inline-block;
}

.login {
    position: absolute;
    left: 12.7em;
    top: 0em;
    border-bottom: solid black;
    width: 9.4em;
    height: 4.4em;
}

.login:hover {
    background-color: green;
}

.login > a {
    margin: 2.7em 0 0 2.6em;
    display: inline-block;
}

.register-login {
  display: flex;
  justify-content: space-around;
}

.logo-container {
    text-align: center;
    position: absolute;
    top: 5em;
    left: 8.7em;
}

.logo-container > img{
    width: 8em;
    height: 8em;
}

form {
  position: absolute;
  /*display: flex;*/
  padding: 1em;
  text-align: center;
}

.fields-container {
  width: 15em;
  height: 7em;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-around;
    top: 13.1em;
    left: 5em;
}

#remember-me {
    position: absolute;
    top: 20em;
    left: 8em;
    width: 8em;
}

/*
.btn-submit {
    position: absolute;
    height: 2.8em;
    top: 22em;
    left: 4.5em;
    border-top: solid black;
    width: 16em;
}
*/

.btn-submit button {
        position: absolute;
    height: 5.8em;
    top: 31em;
    left: 5.5em;
    border-top: solid black;
    width: 25.3em;
    background: rgba(206, 206, 206, 0);
}

.btn-submit button:hover {
    background-color: lightblue;
}


/************
Jamaican Css in full force below
*************/
.selected-mog {
	height: 200px;
    width: 200px;
    padding: 2em;
    border-radius: 50%;
    background-size: cover;
    margin: 1em auto;
    border: 1px solid black;
}

.user-stats {
	margin: 1em auto;
    width: 90%;
	display: flex;
	justify-content: space-around;
}

.mog-viewport-container {
	margin: auto;
}

.mog-viewport {
    margin: 1em auto;
    width: 90%;
	display: flex;
	justify-content: space-around;
	background-color: white;
}

.mog-detail-view {
	flex: 1;
}

.mog-details-container {
    background-color: gray;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.inventory-container {
	margin: 1em auto;
	width: 90%;
}

.inv-search-container {
	display: flex;
    justify-content: center;
    margin-bottom: 0.5em;
}

.search-field {
    width: 20em;
    margin-right: 2em;
}

.mog-main-container {
	display: flex;
	height: 600px;
}

.mog-main-container h3 {
    padding-left: 1em;
}

.bet-pod-container {
	flex: 1;
	background-color: lightblue;

}

.bet-pod-mogs {
    padding: 0 0.7em;
    width: 90%;
    height: 90%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-content: flex-start;
}

.bet-pod {
    overflow: scroll;
}

.mog-inventory {
	flex: 4;
	background-color: orange;
    overflow: scroll;
}

.mog-container {
    display: flex;
    text-align: center;
}

.bet-pod-container {
    overflow: scroll;
}

.mog-img {
    margin: 0.7em;
    position: relative;
    /* display: inline-block; */
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid black 1px;
}

.mog {
    margin: 0.2em;
    position: relative;
    /* display: inline-block; */
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid black 1px;
}

.mog-inv-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 1em;
}

.game-field {
    margin: 3em auto;
    min-width: 480px;
    width: 85%;
    height: 600px;
    background-color: gray;
    position: relative;
}

.game-details h3 {
    padding-left: 3em;
}
.user-mogs, .won-mogs{
    margin: auto;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    border-bottom: 1px solid black;
}

/****
SLAMMER CSS
***/
.slammer {
    margin: 25em auto 0 auto;
    width: 400px;
    position: relative;
}

.upper  {
    position: absolute;
    top: -170px;
    height: 200px;
    width: 400px;
    background-color: orange;
    border-radius: 400px 400px 0 0;
    -moz-border-radius: 400px 400px 0 0;
    -webkit-border-radius: 400px 400px 0 0;
}

.upper:hover, .lower:hover {
    background-color: yellow;
}

.lower{
    height: 200px;
    position: absolute;
    width: 400px;
    background-color: blue;
    border-radius: 0 0 400px 400px;
    -moz-border-radius: 0 0 400px 400px;
    -webkit-border-radius: 0 0 400px 400px;
    top: 30px;
}

.gates {
    height: 60px;
    width: 400px;
    background-color: white;
    position: relative;
}

.enter {
    float: left;
    position: absolute;
    height: 60px;
    width: 375px;
    background-color: green;
    z-index: 1;
}

.exit {
    float: right;
    position: absolute;
    height: 60px;
    width: 25px;
    background-color: red;
    right: 0px;
    z-index: 1;
}

/*
.mog-img:hover:before {
  display: block;
  position: absolute;
  padding: .5em;
  content: attr(content);
  min-width: 120px;
  text-align: center;
  width: auto;
  height: auto;
  white-space: nowrap;
  top: -32px;
  background: rgba(0,0,0,.8);
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;

  color: #fff;
  font-size: .86em;
  z-index: 999;
}
.mog-img:hover:after {
  position: absolute;
  display: block;
  content: “”;

  border-color: rgba(0,0,0,.8) transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  top: -8px;
  left:1em;
}
*/

/*
.mog-content h5, h6 {
    margin: 0;
    font-size: 1em;
    color: white;
}

.mog-content h6 {
    margin: 0;
    font-size: 1em;
}
*/

